[submodule "poky"]
	path = poky
	url = ./poky
[submodule "meta-ti"]
	path = meta-ti
	url = ./meta-ti
[submodule "meta-arm"]
	path = meta-arm
	url = ./meta-arm
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = ./meta-raspberrypi
